
log.docx
updatedrecords.png
updatedjson.png
record1.png
recordjson.png
tpnj1.png
tpnj2.png
tpnj3.png
tpnj4.png
tpnj6.png
tpnj7.png
taskplanner docx.docx
tasknodejs
online3ss.pdf
onlineassesmentreport.docx
onlinepopupss.png
online1.pdf
taskss.png
task1ss.png
taskreport.docx
Reports.docx.docx
demo.html
repo ss.png
sourcecode.png
design.zip
designss.png
secondreport.docx
budgetplannerreport.docx
budgetplanner_likhita.zip
bp2.PNG
bp3.PNG
budgetplanner1.png
bootstrap.min.css
goodmorning.jpg
simplyblogging.html
simplyblogging.js
simplybloggingreport.docx
tooplate-style.css
welcome.jpg
simplyblogging.zip
outputimage2.pdf
portssportfolio2.PNG
portssreg.PNG
portss1.PNG
portfolio report.docx
chat docx.docx
chatss1.png
chatss2.png
